/*
 * Fuentes que integraremos a nuestro css
 font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
 * Paleta de colores
  #2c3e50, #18bc9c, #212529
 */
 .text-uppercase {
   text-transform: uppercase;
 }

 .barra-superior {
   /*outline: 1px solid red;*/
   vertical-align: middle;
   height: 107px;
   background-color: #2c3e50;
 }

.start {
  display: inline-block;
  /*outline: 1px solid green;*/
  position: absolute;
  left: 30px;
  text-decoration: none;
  color: white;
}

.first-menu {
  color: white;
}

 li {
   display: inline-block;
   list-style: none;
   margin: 0px;
   position: relative;
   left: 800px;
   padding: 8px;
   color: white;
 }

 .container {
   outline: 1px solid yellow;
   background-color: #18bc9c;
   background-image: none;
 }

 #start1:after {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 10px;
  background: white;
}
#start1:before {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 10px;
  background: white;
}
